
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>Async Components (Components In-Depth) - Vue 3 - W3cubDocs</title>
  
  <meta name="description" content="In large applications, we may need to divide the app into smaller chunks and only load a component from the server when it&#39;s needed. To make &hellip;">
  <meta name="keywords" content="async, components, in-depth, vue, vue~3">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/vue~3/guide/components/async.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-68e65cee9bf387bd38209a46e05e3bda50bcea53ffaf6e90c132c1966451285cfbc988b42f051f6d841236cd27a79897de1c1bc0aa1f6bbd99bedd3492ba460e.css">
  <script type="text/javascript" src="/assets/application-c64b29dbd49655f465d3acd39f96ed0f4bfb8bd3e64e96ba1bd510a5110d74f6363428874963e7d46aec33ad7cf85986182f73091386ca5e424145443d0b345c.js"></script>
  <script src="/json/vue~3.js"></script>
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3Q5P5PWHV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Y3Q5P5PWHV');
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2572770204602497"
     crossorigin="anonymous"></script>
<script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/vue~3/" class="_nav-link" title="" style="margin-left:0;">Vue 3</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div id="adtop"></div>
			<div class="_page _vue">
				
				
<h1 id="async-components" tabindex="-1">Async Components </h1>
<h2 id="basic-usage" tabindex="-1">Basic Usage </h2>
<p>In large applications, we may need to divide the app into smaller chunks and only load a component from the server when it's needed. To make that possible, Vue has a <a href="../../api/general#defineasynccomponent"><code>defineAsyncComponent</code></a> function:</p>
<pre data-language="js">import { defineAsyncComponent } from 'vue'

const AsyncComp = defineAsyncComponent(() =&gt; {
  return new Promise((resolve, reject) =&gt; {
    // ...load component from server
    resolve(/* loaded component */)
  })
})
// ... use `AsyncComp` like a normal component</pre>
<p>As you can see, <code>defineAsyncComponent</code> accepts a loader function that returns a Promise. The Promise's <code>resolve</code> callback should be called when you have retrieved your component definition from the server. You can also call <code>reject(reason)</code> to indicate the load has failed.</p>
<p><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/import" target="_blank" rel="noreferrer">ES module dynamic import</a> also returns a Promise, so most of the time we will use it in combination with <code>defineAsyncComponent</code>. Bundlers like Vite and webpack also support the syntax (and will use it as bundle split points), so we can use it to import Vue SFCs:</p>
<pre data-language="js">import { defineAsyncComponent } from 'vue'

const AsyncComp = defineAsyncComponent(() =&gt;
  import('./components/MyComponent.vue')
)</pre>
<p>The resulting <code>AsyncComp</code> is a wrapper component that only calls the loader function when it is actually rendered on the page. In addition, it will pass along any props and slots to the inner component, so you can use the async wrapper to seamlessly replace the original component while achieving lazy loading.</p>
<p>As with normal components, async components can be <a href="registration#global-registration">registered globally</a> using <code>app.component()</code>:</p>
<pre data-language="js">app.component('MyComponent', defineAsyncComponent(() =&gt;
  import('./components/MyComponent.vue')
))</pre>
<div class="options-api">
<p>You can also use <code>defineAsyncComponent</code> when <a href="registration#local-registration">registering a component locally</a>:</p>
<pre data-language="javascript">&lt;script&gt;
import { defineAsyncComponent } from 'vue'

export default {
  components: {
    AdminPage: defineAsyncComponent(() =&gt;
      import('./components/AdminPageComponent.vue')
    )
  }
}
&lt;/script&gt;

&lt;template&gt;
  &lt;AdminPage /&gt;
&lt;/template&gt;</pre>
</div>
<div class="composition-api">
<p>They can also be defined directly inside their parent component:</p>
<pre data-language="javascript">&lt;script setup&gt;
import { defineAsyncComponent } from 'vue'

const AdminPage = defineAsyncComponent(() =&gt;
  import('./components/AdminPageComponent.vue')
)
&lt;/script&gt;

&lt;template&gt;
  &lt;AdminPage /&gt;
&lt;/template&gt;</pre>
</div>
<h2 id="loading-and-error-states" tabindex="-1">Loading and Error States </h2>
<p>Asynchronous operations inevitably involve loading and error states - <code>defineAsyncComponent()</code> supports handling these states via advanced options:</p>
<pre data-language="js">const AsyncComp = defineAsyncComponent({
  // the loader function
  loader: () =&gt; import('./Foo.vue'),

  // A component to use while the async component is loading
  loadingComponent: LoadingComponent,
  // Delay before showing the loading component. Default: 200ms.
  delay: 200,

  // A component to use if the load fails
  errorComponent: ErrorComponent,
  // The error component will be displayed if a timeout is
  // provided and exceeded. Default: Infinity.
  timeout: 3000
})</pre>
<p>If a loading component is provided, it will be displayed first while the inner component is being loaded. There is a default 200ms delay before the loading component is shown - this is because on fast networks, an instant loading state may get replaced too fast and end up looking like a flicker.</p>
<p>If an error component is provided, it will be displayed when the Promise returned by the loader function is rejected. You can also specify a timeout to show the error component when the request is taking too long.</p>
<h2 id="lazy-hydration" tabindex="-1">Lazy Hydration  </h2>
<blockquote><p>This section only applies if you are using <a href="../scaling-up/ssr">Server-Side Rendering</a>.</p></blockquote>
<p>In Vue 3.5+, async components can control when they are hydrated by providing a hydration strategy.</p>
<ul>
<li><p>Vue provides a number of built-in hydration strategies. These built-in strategies need to be individually imported so they can be tree-shaken if not used.</p></li>
<li><p>The design is intentionally low-level for flexibility. Compiler syntax sugar can potentially be built on top of this in the future either in core or in higher level solutions (e.g. Nuxt).</p></li>
</ul>
<h3 id="hydrate-on-idle" tabindex="-1">Hydrate on Idle </h3>
<p>Hydrates via <code>requestIdleCallback</code>:</p>
<pre data-language="js">import { defineAsyncComponent, hydrateOnIdle } from 'vue'

const AsyncComp = defineAsyncComponent({
  loader: () =&gt; import('./Comp.vue'),
  hydrate: hydrateOnIdle(/* optionally pass a max timeout */)
})</pre>
<h3 id="hydrate-on-visible" tabindex="-1">Hydrate on Visible </h3>
<p>Hydrate when element(s) become visible via <code>IntersectionObserver</code>.</p>
<pre data-language="js">import { defineAsyncComponent, hydrateOnVisible } from 'vue'

const AsyncComp = defineAsyncComponent({
  loader: () =&gt; import('./Comp.vue'),
  hydrate: hydrateOnVisible()
})</pre>
<p>Can optionally pass in an options object value for the observer:</p>
<pre data-language="js">hydrateOnVisible({ rootMargin: '100px' })</pre>
<h3 id="hydrate-on-media-query" tabindex="-1">Hydrate on Media Query </h3>
<p>Hydrates when the specified media query matches.</p>
<pre data-language="js">import { defineAsyncComponent, hydrateOnMediaQuery } from 'vue'

const AsyncComp = defineAsyncComponent({
  loader: () =&gt; import('./Comp.vue'),
  hydrate: hydrateOnMediaQuery('(max-width:500px)')
})</pre>
<h3 id="hydrate-on-interaction" tabindex="-1">Hydrate on Interaction </h3>
<p>Hydrates when specified event(s) are triggered on the component element(s). The event that triggered the hydration will also be replayed once hydration is complete.</p>
<pre data-language="js">import { defineAsyncComponent, hydrateOnInteraction } from 'vue'

const AsyncComp = defineAsyncComponent({
  loader: () =&gt; import('./Comp.vue'),
  hydrate: hydrateOnInteraction('click')
})</pre>
<p>Can also be a list of multiple event types:</p>
<pre data-language="js">hydrateOnInteraction(['wheel', 'mouseover'])</pre>
<h3 id="custom-strategy" tabindex="-1">Custom Strategy </h3>
<pre data-language="ts">import { defineAsyncComponent, type HydrationStrategy } from 'vue'

const myStrategy: HydrationStrategy = (hydrate, forEachElement) =&gt; {
  // forEachElement is a helper to iterate through all the root elements
  // in the component's non-hydrated DOM, since the root can be a fragment
  // instead of a single element
  forEachElement(el =&gt; {
    // ...
  })
  // call `hydrate` when ready
  hydrate()
  return () =&gt; {
    // return a teardown function if needed
  }
}

const AsyncComp = defineAsyncComponent({
  loader: () =&gt; import('./Comp.vue'),
  hydrate: myStrategy
})</pre>
<h2 id="using-with-suspense" tabindex="-1">Using with Suspense </h2>
<p>Async components can be used with the <code>&lt;Suspense&gt;</code> built-in component. The interaction between <code>&lt;Suspense&gt;</code> and async components is documented in the <a href="../built-ins/suspense">dedicated chapter for <code>&lt;Suspense&gt;</code></a>.</p>
<div class="_attribution">
  <p class="_attribution-p">
    © 2018-present, Yuxi (Evan) You and Vue contributors<br>Licensed under the MIT License.<br>
    <a href="https://vuejs.org/guide/components/async" class="_attribution-link">https://vuejs.org/guide/components/async</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div id="adbottom"></div>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
	  <script type="text/javascript" src="/assets/wr-a2e795e947c83ed35d02d79fd5189e6bbdb2de6f281b7ad471151d7b573691bb11af54de2a346c5a9feb185d1bce7ab6cdc34fff98dde944d076530fea92d4b7.js"></script>
</body>
</html>
