
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>Components Overview - Lit 3 - W3cubDocs</title>
  
  <meta name="description" content="A Lit component is a reusable piece of UI. You can think of a Lit component as a container that has some state and that displays a UI based on its &hellip;">
  <meta name="keywords" content="components, overview, lit, lit~3">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/lit~3/components/overview/">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-68e65cee9bf387bd38209a46e05e3bda50bcea53ffaf6e90c132c1966451285cfbc988b42f051f6d841236cd27a79897de1c1bc0aa1f6bbd99bedd3492ba460e.css">
  <script type="text/javascript" src="/assets/application-644da84f8afb70e07b3540a3e9d32cb4dc12ff34dbcdb923702ebaf24107cfd38beadd5551dbcafdec55d1eb96749634df248fda3accf0e02fcf8fe84966deb2.js"></script>
  <script src="/json/lit~3.js"></script>
  
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}

  gtag('consent','default',{
    ad_storage:'denied',
    analytics_storage:'denied',
    ad_user_data:'denied',
    ad_personalization:'denied'
  });
</script>


  <script type="text/javascript" src="/assets/wr-f428f42474a7ee5acb8eaaff84686bf75a23186649d0c8e750bf116f2f65c948aae8e13f67f8aed3b192858fb9f3916592948618bbb086783de8cd8337f15b9a.js"></script>
</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/lit~3/" class="_nav-link" title="" style="margin-left:0;">Lit 3</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			
			<div id="adtop"></div>
			<div class="_page _lit">
				
				
<article><h1>Components overview</h1>
<p>A Lit component is a reusable piece of UI. You can think of a Lit component as a container that has some state and that displays a UI based on its state. It can also react to user input, fire events—anything you'd expect a UI component to do. And a Lit component is an HTML element, so it has all of the standard element APIs.</p>
<p>Creating a Lit component involves a number of concepts:</p>
<ul>
<li><p><a href="../defining/index">Defining a component</a>. A Lit component is implemented as a <em>custom element</em>, registered with the browser.</p></li>
<li><p><a href="../rendering/index">Rendering</a>. A component has <em>render method</em> that's called to render the component's contents. In the render method, you define a <em>template</em> for the component.</p></li>
<li><p><a href="../properties/index">Reactive properties</a>. Properties hold the state of the component. Changing one or more of the components' <em>reactive properties</em> triggers an update cycle, re-rendering the component.</p></li>
<li><p><a href="../styles/index">Styles</a>. A component can define <em>encapsulated styles</em> to control its own appearance.</p></li>
<li><p><a href="../lifecycle/index">Lifecycle</a>. Lit defines a set of callbacks that you can override to hook into the component's lifecycle—for example, to run code when the element's added to a page, or whenever the component updates.</p></li>
</ul>
<p>Here's a sample component:</p>

<div code-language="ts"><aside class="litdev-aside"><div><svg viewbox="0 0 125 125"><desc>A white letter i in a blue circle</desc><rect x="52.9" y="24.62" fill="#FFF" width="19.2" height="18.94"></rect><rect x="52.9" y="59.18" fill="#FFF" width="19.2" height="41.2"></rect></svg></div>
<div> <p>This example uses TypeScript decorators.</p> <p>See the <a href="../decorators/index">Decorators</a> documentation for more information on configuring TypeScript for decorators.</p> </div></aside></div>
<p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/components/overview.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg#icon"></lazy-svg></a></p></article><div class="_attribution">
  <p class="_attribution-p">
    © Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/components/overview/" class="_attribution-link">https://lit.dev/docs/components/overview/</a>
  </p>
</div>

				
			</div>
			
			<div id="adbottom"></div>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
	  
</body>
</html>
