
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>Grouping Elements With Ng-container - Angular - W3cubDocs</title>
  
  <meta name="description" content="&#60;ng-container&#62; is a special element in Angular that groups multiple elements together or marks a location in a template without rendering a &hellip;">
  <meta name="keywords" content="grouping, elements, with, ng-container, angular">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/angular/guide/templates/ng-container.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-68e65cee9bf387bd38209a46e05e3bda50bcea53ffaf6e90c132c1966451285cfbc988b42f051f6d841236cd27a79897de1c1bc0aa1f6bbd99bedd3492ba460e.css">
  <script type="text/javascript" src="/assets/application-644da84f8afb70e07b3540a3e9d32cb4dc12ff34dbcdb923702ebaf24107cfd38beadd5551dbcafdec55d1eb96749634df248fda3accf0e02fcf8fe84966deb2.js"></script>
  <script src="/json/angular.js"></script>
  
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}

  gtag('consent','default',{
    ad_storage:'denied',
    analytics_storage:'denied',
    ad_user_data:'denied',
    ad_personalization:'denied'
  });
</script>


  <script type="text/javascript" src="/assets/wr-f428f42474a7ee5acb8eaaff84686bf75a23186649d0c8e750bf116f2f65c948aae8e13f67f8aed3b192858fb9f3916592948618bbb086783de8cd8337f15b9a.js"></script>
</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/angular/" class="_nav-link" title="" style="margin-left:0;">Angular</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			
			<div id="adtop"></div>
			<div class="_page _angular">
				
				
<h1 tabindex="-1">Grouping elements with ng-container</h1> <header class="docs-header"> <docs-breadcrumb ng-version="21.2.0+sha-6d7446b" _nghost-ng-c3945279308 ngh="8"></docs-breadcrumb>   </header> <p><code>&lt;ng-container&gt;</code> is a special element in Angular that groups multiple elements together or marks a location in a template without rendering a real element in the DOM.</p> <pre data-language="ts">&lt;!-- Component template --&gt;
&lt;section&gt;
  &lt;ng-container&gt;
    &lt;h3&gt;User bio&lt;/h3&gt;
    &lt;p&gt;Here's some info about the user&lt;/p&gt;
  &lt;/ng-container&gt;
&lt;/section&gt;</pre>
<pre data-language="ts">&lt;!-- Rendered DOM --&gt;
&lt;section&gt;
  &lt;h3&gt;User bio&lt;/h3&gt;
  &lt;p&gt;Here's some info about the user&lt;/p&gt;
&lt;/section&gt;</pre>
<p>You can apply directives to <code>&lt;ng-container&gt;</code> to add behaviors or configuration to a part of your template.</p> <p>Angular ignores all attribute bindings and event listeners applied to <code>&lt;ng-container&gt;</code>, including those applied via directive.</p> <h2 id="using-ng-container-to-display-dynamic-contents"> Using &lt;ng-container&gt; to display dynamic contents </h2> <p><code>&lt;ng-container&gt;</code> can act as a placeholder for rendering dynamic content.</p> <h3 id="rendering-components"> Rendering components </h3> <p>You can use Angular's built-in <a href="../../api/common/ngcomponentoutlet"><code>NgComponentOutlet</code></a> directive to dynamically render a component to the location of the <code>&lt;ng-container&gt;</code>.</p> <pre data-language="ts">@Component({
  template: `
    &lt;h2&gt;Your profile&lt;/h2&gt;
    &lt;ng-container [ngComponentOutlet]="profileComponent()" /&gt;
  `,
})
export class UserProfile {
  isAdmin = input(false);
  profileComponent = computed(() =&gt; (this.isAdmin() ? AdminProfile : BasicUserProfile));
}</pre>
<p>In the example above, the <a href="../../api/common/ngcomponentoutlet"><code>NgComponentOutlet</code></a> directive dynamically renders either <code>AdminProfile</code> or <code>BasicUserProfile</code> in the location of the <code>&lt;ng-container&gt;</code> element.</p> <h3 id="rendering-template-fragments"> Rendering template fragments </h3> <p>You can use Angular's built-in <a href="../../api/common/ngtemplateoutlet"><code>NgTemplateOutlet</code></a> directive to dynamically render a template fragment to the location of the <code>&lt;ng-container&gt;</code>.</p> <pre data-language="ts">@Component({
  template: `
    &lt;h2&gt;Your profile&lt;/h2&gt;
    &lt;ng-container [ngTemplateOutlet]="profileTemplate()" /&gt;

    &lt;ng-template #admin&gt;This is the admin profile&lt;/ng-template&gt;
    &lt;ng-template #basic&gt;This is the basic profile&lt;/ng-template&gt;
  `,
})
export class UserProfile {
  isAdmin = input(false);
  adminTemplate = viewChild('admin', {read: TemplateRef});
  basicTemplate = viewChild('basic', {read: TemplateRef});
  profileTemplate = computed(() =&gt; (this.isAdmin() ? this.adminTemplate() : this.basicTemplate()));
}</pre>
<p>In the example above, the <a href="../../api/common/ngtemplateoutlet"><code>ngTemplateOutlet</code></a> directive dynamically renders one of two template fragments in the location of the <code>&lt;ng-container&gt;</code> element.</p> <p>For more information regarding NgTemplateOutlet, see the <a href="../../api/common/ngtemplateoutlet">NgTemplateOutlets API documentation page</a>.</p> <h2 id="using-ng-container-with-structural-directives"> Using &lt;ng-container&gt; with structural directives </h2> <p>You can also apply structural directives to <code>&lt;ng-container&gt;</code> elements. Common examples of this include <a href="../../api/common/ngif"><code>ngIf</code></a>and <a href="../../api/common/ngforof"><code>ngFor</code></a>.</p> <pre data-language="ts">&lt;ng-container *ngIf="permissions == 'admin'"&gt;
  &lt;h1&gt;Admin Dashboard&lt;/h1&gt;
  &lt;admin-infographic /&gt;
&lt;/ng-container&gt;

&lt;ng-container *ngFor="let item of items; index as i; trackBy: trackByFn"&gt;
  &lt;h2&gt;{{ item.title }}&lt;/h2&gt;
  &lt;p&gt;{{ item.description }}&lt;/p&gt;
&lt;/ng-container&gt;</pre> <h2 id="using-ng-container-for-injection"> Using &lt;ng-container&gt; for injection </h2> <p>See the Dependency Injection guide for more information on Angular's dependency injection system.</p> <p>When you apply a directive to <code>&lt;ng-container&gt;</code>, descendant elements can inject the directive or anything that the directive provides. Use this when you want to declaratively provide a value to a specific part of your template.</p> <pre data-language="ts">@Directive({
  selector: '[theme]',
})
export class Theme {
  // Create an input that accepts 'light' or 'dark`, defaulting to 'light'.
  mode = input&lt;'light' | 'dark'&gt;('light');
}</pre>
<pre data-language="ts">&lt;ng-container theme="dark"&gt;
  &lt;profile-pic /&gt;
  &lt;user-bio /&gt;
&lt;/ng-container&gt;</pre>
<p>In the example above, the <code>ProfilePic</code> and <code>UserBio</code> components can inject the <code>Theme</code> directive and apply styles based on its <code>mode</code>.</p>
<div class="_attribution">
  <p class="_attribution-p">
    Super-powered by Google ©2010–2025.<br>Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0.<br>
    <a href="https://angular.dev/guide/templates/ng-container" class="_attribution-link">https://angular.dev/guide/templates/ng-container</a>
  </p>
</div>

				
			</div>
			
			<div id="adbottom"></div>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
	  
</body>
</html>
