
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>Phoenix.Component - Phoenix - W3cubDocs</title>
  
  <meta name="description" content=" API for function components. ">
  <meta name="keywords" content="phoenix, component">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/phoenix/phoenix_live_view/phoenix.component.html">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-68e65cee9bf387bd38209a46e05e3bda50bcea53ffaf6e90c132c1966451285cfbc988b42f051f6d841236cd27a79897de1c1bc0aa1f6bbd99bedd3492ba460e.css">
  <script type="text/javascript" src="/assets/application-644da84f8afb70e07b3540a3e9d32cb4dc12ff34dbcdb923702ebaf24107cfd38beadd5551dbcafdec55d1eb96749634df248fda3accf0e02fcf8fe84966deb2.js"></script>
  <script src="/json/phoenix.js"></script>
  
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}

  gtag('consent','default',{
    ad_storage:'denied',
    analytics_storage:'denied',
    ad_user_data:'denied',
    ad_personalization:'denied'
  });
</script>


  <script type="text/javascript" src="/assets/wr-f428f42474a7ee5acb8eaaff84686bf75a23186649d0c8e750bf116f2f65c948aae8e13f67f8aed3b192858fb9f3916592948618bbb086783de8cd8337f15b9a.js"></script>
</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/phoenix/" class="_nav-link" title="" style="margin-left:0;">Phoenix</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			
			<div id="adtop"></div>
			<div class="_page _elixir">
				
				
<h1>   <span translate="no">Phoenix.Component</span>  </h1> <section id="moduledoc"> <p>API for function components.</p>
<p>A function component is any function that receives an assigns map as argument and returns a rendered struct built with <a href="phoenix.liveview.helpers#sigil_H/2">the <code class="inline">~H</code> sigil</a>.</p>
<p>Here is an example:</p>
<pre data-language="elixir">defmodule MyComponent do
  use Phoenix.Component

  # Optionally also bring the HTML helpers
  # use Phoenix.HTML

  def greet(assigns) do
    ~H"""
    &lt;p&gt;Hello, &lt;%= assigns.name %&gt;&lt;/p&gt;
    """
  end
end</pre>
<p>The component can be invoked as a regular function:</p>
<pre data-language="elixir">MyComponent.greet(%{name: "Jane"})</pre>
<p>But it is typically invoked using the function component syntax from the <code class="inline">~H</code> sigil:</p>
<pre data-language="elixir">~H"""
&lt;MyComponent.greet name="Jane" /&gt;
"""</pre>
<p>If the <code class="inline">MyComponent</code> module is imported or if the function is defined locally, you can skip the module name:</p>
<pre data-language="elixir">~H"""
&lt;.greet name="Jane" /&gt;
"""</pre>
<p>Similar to any HTML tag inside the <code class="inline">~H</code> sigil, you can interpolate attributes values too:</p>
<pre data-language="elixir">~H"""
&lt;.greet name={@user.name} /&gt;
"""</pre>
<p>You can learn more about the <code class="inline">~H</code> sigil <a href="phoenix.liveview.helpers#sigil_H/2">in its documentation</a>.</p>
<h2 id="module-use-phoenix-component" class="section-heading">  <code class="inline">use Phoenix.Component</code> </h2> <p>Modules that define function components should call <code class="inline">use Phoenix.Component</code> at the top. Doing so will import the functions from both <a href="phoenix.liveview"><code class="inline">Phoenix.LiveView</code></a> and <a href="phoenix.liveview.helpers"><code class="inline">Phoenix.LiveView.Helpers</code></a> modules. <a href="phoenix.liveview"><code class="inline">Phoenix.LiveView</code></a> and <a href="phoenix.livecomponent"><code class="inline">Phoenix.LiveComponent</code></a> automatically invoke <code class="inline">use Phoenix.Component</code> for you.</p>
<p>You must avoid defining a module for each component. Instead, we should use modules to group side-by-side related function components.</p>
<h2 id="module-assigns" class="section-heading">  Assigns </h2> <p>While inside a function component, you must use <a href="phoenix.liveview#assign/3"><code class="inline">Phoenix.LiveView.assign/3</code></a> and <a href="phoenix.liveview#assign_new/3"><code class="inline">Phoenix.LiveView.assign_new/3</code></a> to manipulate assigns, so that LiveView can track changes to the assigns values. For example, let's imagine a component that receives the first name and last name and must compute the name assign. One option would be:</p>
<pre data-language="elixir">def show_name(assigns) do
  assigns = assign(assigns, :name, assigns.first_name &lt;&gt; assigns.last_name)

  ~H"""
  &lt;p&gt;Your name is: &lt;%= @name %&gt;&lt;/p&gt;
  """
end</pre>
<p>However, when possible, it may be cleaner to break the logic over function calls instead of precomputed assigns:</p>
<pre data-language="elixir">def show_name(assigns) do
  ~H"""
  &lt;p&gt;Your name is: &lt;%= full_name(@first_name, @last_name) %&gt;&lt;/p&gt;
  """
end

defp full_name(first_name, last_name), do: first_name &lt;&gt; last_name</pre>
<p>Another example is making an assign optional by providing a default value:</p>
<pre data-language="elixir">def field_label(assigns) do
  assigns = assign_new(assigns, :help, fn -&gt; nil end)

  ~H"""
  &lt;label&gt;
    &lt;%= @text %&gt;

    &lt;%= if @help do %&gt;
      &lt;span class="help"&gt;&lt;%= @help %&gt;&lt;/span&gt;
    &lt;% end %&gt;
  &lt;/label&gt;
  """
end</pre>
<h2 id="module-slots" class="section-heading">  Slots </h2> <p>Slots is a mechanism to give HTML blocks to function components as in regular HTML tags.</p>
<h3 id="module-default-slots" class="section-heading">  Default slots </h3> <p>Any content you pass inside a component is assigned to a default slot called <code class="inline">@inner_block</code>. For example, imagine you want to create a button component like this:</p>
<pre data-language="elixir">&lt;.button&gt;
  This renders &lt;strong&gt;inside&lt;/strong&gt; the button!
&lt;/.button&gt;</pre>
<p>It is quite simple to do so. Simply define your component and call <code class="inline">render_slot(@inner_block)</code> where you want to inject the content:</p>
<pre data-language="elixir">def button(assigns) do
  ~H"""
  &lt;button class="btn"&gt;
    &lt;%= render_slot(@inner_block) %&gt;
  &lt;/button&gt;
  """
end</pre>
<p>In a nutshell, the contents given to the component is assigned to the <code class="inline">@inner_block</code> assign and then we use <a href="phoenix.liveview.helpers#render_slot/2"><code class="inline">Phoenix.LiveView.Helpers.render_slot/2</code></a> to render it.</p>
<p>You can even have the component give a value back to the caller, by using <code class="inline">let</code>. Imagine this component:</p>
<pre data-language="elixir">def unordered_list(assigns) do
  ~H"""
  &lt;ul&gt;
    &lt;%= for entry &lt;- @entries do %&gt;
      &lt;li&gt;&lt;%= render_slot(@inner_block, entry) %&gt;&lt;/li&gt;
    &lt;% end %&gt;
  &lt;/ul&gt;
  """
end</pre>
<p>And now you can invoke it as:</p>
<pre data-language="elixir">&lt;.unordered_list let={entry} entries={~w(apple banana cherry)}&gt;
  I like &lt;%= entry %&gt;
&lt;/.unordered_list&gt;</pre>
<p>You can also pattern match the arguments provided to the render block. Let's make our <code class="inline">unordered_list</code> component fancier:</p>
<pre data-language="elixir">def unordered_list(assigns) do
  ~H"""
  &lt;ul&gt;
    &lt;%= for entry &lt;- @entries do %&gt;
      &lt;li&gt;&lt;%= render_slot(@inner_block, %{entry: entry, gif_url: random_gif()}) %&gt;&lt;/li&gt;
    &lt;% end %&gt;
  &lt;/ul&gt;
  """
end</pre>
<p>And now we can invoke it like this:</p>
<pre data-language="elixir">&lt;.unordered_list let={%{entry: entry, gif_url: url}}&gt;
  I like &lt;%= entry %&gt;. &lt;img src={url} /&gt;
&lt;/.unordered_list&gt;</pre>
<h3 id="module-named-slots" class="section-heading">  Named slots </h3> <p>Besides <code class="inline">@inner_block</code>, it is also possible to pass named slots to the component. For example, imagine that you want to create a modal component. The modal component has a header, a footer, and the body of the modal, which we would use like this:</p>
<pre data-language="elixir">&lt;.modal&gt;
  &lt;:header&gt;
    This is the top of the modal.
  &lt;/:header&gt;

  This is the body - everything not in a
  named slot goes to @inner_block.

  &lt;:footer&gt;
    &lt;button&gt;Save&lt;/button&gt;
  &lt;/:footer&gt;
&lt;/.modal&gt;</pre>
<p>The component itself could be implemented like this:</p>
<pre data-language="elixir">def modal(assigns) do
  ~H"""
  &lt;div class="modal"&gt;
    &lt;div class="modal-header"&gt;
      &lt;%= render_slot(@header) %&gt;
    &lt;/div&gt;

    &lt;div class="modal-body"&gt;
      &lt;%= render_slot(@inner_block) %&gt;
    &lt;/div&gt;

    &lt;div class="modal-footer"&gt;
      &lt;%= render_slot(@footer) %&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  """
end</pre>
<p>If you want to make the <code class="inline">@header</code> and <code class="inline">@footer</code> optional, you can assign them a default of an empty list at the top:</p>
<pre data-language="elixir">def modal(assigns) do
  assigns =
    assigns
    |&gt; assign_new(:header, fn -&gt; [] end)
    |&gt; assign_new(:footer, fn -&gt; [] end)

  ~H"""
  &lt;div class="modal"&gt;
    ...
end</pre>
<h3 id="module-named-slots-with-attributes" class="section-heading">  Named slots with attributes </h3> <p>It is also possible to pass the same named slot multiple times and also give attributes to each of them.</p>
<p>If multiple slot entries are defined for the same slot, <code class="inline">render_slot/2</code> will automatically render all entries, merging their contents. But sometimes we want more fine grained control over each individual slot, including access to their attributes. Let's see an example. Imagine we want to implement a table component</p>
<p>For example, imagine a table component:</p>
<pre data-language="elixir">&lt;.table rows={@users}&gt;
  &lt;:col let={user} label="Name"&gt;
    &lt;%= user.name %&gt;
  &lt;/:col&gt;

  &lt;:col let={user} label="Address"&gt;
    &lt;%= user.address %&gt;
  &lt;/:col&gt;
&lt;/.table&gt;</pre>
<p>At the top level, we pass the rows as an assign and we define a <code class="inline">:col</code> slot for each column we want in the table. Each column also has a <code class="inline">label</code>, which we are going to use in the table header.</p>
<p>Inside the component, you can render the table with headers, rows, and columns:</p>
<pre data-language="elixir">def table(assigns) do
  ~H"""
  &lt;table&gt;
    &lt;tr&gt;
      &lt;%= for col &lt;- @col do %&gt;
        &lt;th&gt;&lt;%= col.label %&gt;&lt;/th&gt;
      &lt;% end %&gt;
    &lt;/tr&gt;
    &lt;%= for row &lt;- @rows do %&gt;
      &lt;tr&gt;
        &lt;%= for col &lt;- @col do %&gt;
          &lt;td&gt;&lt;%= render_slot(col, row) %&gt;&lt;/td&gt;
        &lt;% end %&gt;
      &lt;/tr&gt;
    &lt;% end %&gt;
  &lt;/table&gt;
  """
end</pre>
<p>Each named slot (including the <code class="inline">@inner_block</code>) is a list of maps, where the map contains all slot attributes, allowing us to access the label as <code class="inline">col.label</code>. This gives us complete control over how we render them.</p> </section><div class="_attribution">
  <p class="_attribution-p">
    © 2018 Chris McCord<br>Licensed under the MIT License.<br>
    <a href="https://hexdocs.pm/phoenix_live_view/Phoenix.Component.html" class="_attribution-link">https://hexdocs.pm/phoenix_live_view/Phoenix.Component.html</a>
  </p>
</div>

				
			</div>
			
			<div id="adbottom"></div>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
	  
</body>
</html>
