
<!DOCTYPE HTML>

<html lang="en" class="_theme-default">

<head>
  <meta charset="utf-8">
  <title>Rendering - Lit 3 - W3cubDocs</title>
  
  <meta name="description" content=" Add a template to your component to define what it should render. Templates can include expressions, which are placeholders for dynamic content. ">
  <meta name="keywords" content="rendering, lit, lit~3">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="https://docs.w3cub.com/lit~3/components/rendering/">
  <link href="/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="/assets/application-68e65cee9bf387bd38209a46e05e3bda50bcea53ffaf6e90c132c1966451285cfbc988b42f051f6d841236cd27a79897de1c1bc0aa1f6bbd99bedd3492ba460e.css">
  <script type="text/javascript" src="/assets/application-c64b29dbd49655f465d3acd39f96ed0f4bfb8bd3e64e96ba1bd510a5110d74f6363428874963e7d46aec33ad7cf85986182f73091386ca5e424145443d0b345c.js"></script>
  <script src="/json/lit~3.js"></script>
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3Q5P5PWHV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Y3Q5P5PWHV');
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2572770204602497"
     crossorigin="anonymous"></script>
<script async custom-element="amp-auto-ads"
  src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>


</head>

<body class="docs">
	<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2572770204602497">
	</amp-auto-ads>
	<div class="_app">
	<header class="_header">

  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/lit~3/" class="_nav-link" title="" style="margin-left:0;">Lit 3</a></span>
  
  <nav class="_nav">
    <a href="https://tools.w3cub.com/?_sp=docs" target="_blank" class="_nav-link ">W3cubTools</a>
    <a href="/cheatsheets/" class="_nav-link ">Cheatsheets</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		
		<form class="_search">
		  <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
		  <a class="_search-clear"></a>
		  <div class="_search-tag"></div>
		</form>
		
		<div class="_list-wrap">
			<div class="_list">
			
			</div>
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="6861657091"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div id="adtop"></div>
			<div class="_page _lit">
				
				
<article><h1>Rendering</h1>
<p>Add a template to your component to define what it should render. Templates can include <em>expressions</em>, which are placeholders for dynamic content.</p>
<p>To define a template for a Lit component, add a <code>render()</code> method:</p>

<p>Write your template in HTML inside a JavaScript <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals#tagged_templates">tagged template literal</a> using Lit's <a href="../../api/templates/index#html"><code>html</code></a> tag function.</p>
<p>Lit templates can include JavaScript <em>expressions</em>. You can use expressions to set text content, attributes, properties, and event listeners. The <code>render()</code> method can also include any JavaScript—for example, you can create local variables for use in expressions.</p>
<div class="heading h2"><h2 id="renderable-values">Renderable values</h2></div>
<p>Typically, the component's <code>render()</code> method returns a single <code>TemplateResult</code> object (the same type returned by the <code>html</code> tag function). However, it can return anything that Lit can render as the child of an HTML element:</p>
<ul>
<li>Primitive values like string, number, or boolean.</li>
<li>
<code>TemplateResult</code> objects created by the <code>html</code> function.</li>
<li>DOM Nodes.</li>
<li>The sentinel values <a href="../../templates/conditionals/index#conditionally-rendering-nothing"><code>nothing</code></a> and <a href="../../templates/custom-directives/index#signaling-no-change"><code>noChange</code></a>.</li>
<li>Arrays or iterables of any of the supported types.</li>
</ul>
<p>This is <em>almost identical</em> to the set of values that can be rendered to a Lit <a href="../../templates/expressions/index#child-expressions">child expression</a>. The one difference is that a child expression can render an <code>SVGTemplateResult</code>, returned by the <a href="../../api/templates/index#svg"><code>svg</code></a> function. This kind of template result can only be rendered as the descendant of an <code>&lt;svg&gt;</code> element.</p>
<div class="heading h2"><h2 id="writing-a-good-render()-method">Writing a good render() method</h2></div>
<p>To take best advantage of Lit's functional rendering model, your <code>render()</code> method should follow these guidelines:</p>
<ul>
<li>Avoid changing the component's state.</li>
<li>Avoid producing any side effects.</li>
<li>Use only the component's properties as input.</li>
<li>Return the same result when given the same property values.</li>
</ul>
<p>Following these guidelines keeps the template deterministic, and makes it easier to reason about the code.</p>
<p>In most cases you should avoid making DOM updates outside of <code>render()</code>. Instead, express the component's template as a function of its state, and capture its state in properties.</p>
<p>For example, if your component needs to update its UI when it receives an event, have the event listener set a reactive property that is used in <code>render()</code>, rather than manipulate the DOM directly.</p>
<p>For more information, see <a href="../properties/index">Reactive properties</a>.</p>
<div class="heading h2"><h2 id="composing-templates">Composing templates</h2></div>
<p>You can compose Lit templates from other templates. The following example composes a template for a component called <code>&lt;my-page&gt;</code> from smaller templates for the page's header, footer, and main content:</p>

<p>In this example, the individual templates are defined as instance methods, so a subclass could extend this component and override one or more templates.</p>
<div class="alert alert-todo">
<h3>TO DO</h3>
<p>Move example to composition section, add xref.</p>
</div>
<p>You can also compose templates by importing other elements and using them in your template:</p>

<div class="heading h2"><h2 id="when-templates-render">When templates render</h2></div>
<p>A Lit component renders its template initially when it's added to the DOM on a page. After the initial render, any change to the component's reactive properties triggers an update cycle, re-rendering the component.</p>
<p>Lit batches updates to maximize performance and efficiency. Setting multiple properties at once triggers only one update, performed asynchronously at microtask timing.</p>
<p>During an update, only the parts of the DOM that change are re-rendered. Although Lit templates look like string interpolation, Lit parses and creates static HTML once, and then only updates changed values in expressions after that, making updates very efficient.</p>
<p>For more information about the update cycle, see <a href="../properties/index#when-properties-change">What happens when properties change</a>.</p>
<div class="heading h2"><h2 id="dom-encapsulation">DOM encapsulation</h2></div>
<p>Lit uses shadow DOM to encapsulate the DOM a component renders. Shadow DOM lets an element create its own, isolated DOM tree that's separate from the main document tree. It's a core feature of the web components specifications that enables interoperability, style encapsulation, and other benefits.</p>
<p>For more information about shadow DOM, see <a href="https://developers.google.com/web/fundamentals/web-components/shadowdom/">Shadow DOM v1: Self-Contained Web Components </a>on Web Fundamentals.</p>
<p>For more information about working with shadow DOM in your component, see <a href="../shadow-dom/index">Working with shadow DOM</a>.</p>
<div class="heading h2"><h2 id="see-also">See also</h2></div>
<ul>
<li><a href="../shadow-dom/index">Shadow DOM</a></li>
<li><a href="../../templates/overview/index">Templates overview</a></li>
<li><a href="../../templates/expressions/index">Template expressions</a></li>
</ul>
<p id="edit-page-link"><a href="https://github.com/lit/lit.dev/edit/main/packages/lit-dev-content/./site/docs/v3/components/rendering.md">Edit this page<lazy-svg loading="visible" svg-aria-hidden href="/images/icons/edit-square.svg#icon"></lazy-svg></a></p></article><div class="_attribution">
  <p class="_attribution-p">
    © Google LLC<br>Licensed under the Creative Commons Attribution 3.0 Unported License.<br>
    <a href="https://lit.dev/docs/components/rendering/" class="_attribution-link">https://lit.dev/docs/components/rendering/</a>
  </p>
</div>

				
			</div>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2572770204602497"
     data-ad-slot="1992473792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<div id="adbottom"></div>
		</div>
	</section>

	</div>
	<svg style="display:none">
		<symbol id="icon-dir"><svg viewBox="0 0 20 20"><path d="M15 10c0 .3-.305.515-.305.515l-8.56 5.303c-.625.41-1.135.106-1.135-.67V4.853c0-.777.51-1.078 1.135-.67l8.56 5.305S15 9.702 15 10z"/></svg></symbol>
	  </svg>
	  <script type="text/javascript" src="/assets/wr-a2e795e947c83ed35d02d79fd5189e6bbdb2de6f281b7ad471151d7b573691bb11af54de2a346c5a9feb185d1bce7ab6cdc34fff98dde944d076530fea92d4b7.js"></script>
</body>
</html>
